<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Link</title>
    <link rel="stylesheet" href="/style.css">
    
</head>

<header>
    <h1 id="h1">
        <img src="/logo.jpg" alt="logo" id="logo">
        RENTAL SOLUTIONS
    </h1>
    <!-- <h1>This is Owner's Signup page</h1> -->
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="contact">ContactUs</a></li> -->
            <li><a href="/owner_login">Owner Login</a></li>
            
        </ul>
    </nav>
</header>

<body>


    <section class="body">
        <div class="register" id="re">
            <form action="/owner_register" method="POST">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <input type="text" name="username" placeholder="Enter your username">
                </div>
                <div class="form-group">
                    <input type="email" name="emailid" placeholder="Enter email_id">
                </div>
                <div class="form-group">
                    <input type="number" name="ph" placeholder="Enter your phone number">
                </div>
                <div class="form-group">
                    <input type="password" name="pass" placeholder="Enter your password">
                </div>
                <div class="form-group">
                    <input type="text" name="address" placeholder="Enter your address">
                </div>
                <button class="btn" id="s">Sign up</button>
            </form>

        </div>
    </section>

    <script src="rental_link.js">

    </script>
    <footer>
        <div class="center">
            Copyright &copy; www.RentalLink.com. All rights reserved
        </div>
    </footer>
</body>

</html>